html {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-size: 100%;
  color: #333;
  -webkit-font-smoothing: antialiased;
}
body {
  margin: 0;
}
a {
  color: #222;
  transition: all 0.2s ease-out;
}
a:focus,
a:hover {
  color: #00a4db;
}
button {
  border: 1px solid #ddd;
  background: none;
  margin: 0.5rem 1rem 0.5rem 0;
  padding: .5rem 1.5rem;
  font-size: 0.707rem;
  text-transform: uppercase;
  color: #777;
  cursor: pointer;
}
button:hover {
  background-color: #eee;
}
p {
  line-height: 1.563em;
  margin-top: 1.563em;
  margin-bottom: 0;
}
ul,
ol {
  line-height: 1.563em;
  margin-top: 1.563em;
  margin-bottom: 1.563em;
  padding: 0 1em;
}
ul li,
ol li {
  line-height: 1.563em;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
blockquote {
  border-left: 4px solid #ddd;
  margin: 0;
  padding: 1.5rem;
  line-height: 1.563em;
  margin-top: 1.563em;
  margin-bottom: 1.563em;
}
blockquote p {
  margin: 0;
}
h1,
h2,
h3,
h4 {
  font-weight: 500;
  margin-bottom: 0.25em;
  margin-top: 2.5em;
  line-height: 2em;
}
h1 {
  /* font-size: 3.157rem; */
  font-size: 2.441rem;
}
h2 {
  /* font-size: 2.369rem; */
  font-size: 1.953rem;
}
h3 {
  /* font-size: 1.777rem; */
  font-size: 1.563rem;
}
h4 {
  /* font-size: 1.333rem; */
  font-size: 1.25rem;
}
small {
  color: #777;
  font-size: 0.75rem;
  font-size: 0.75rem;
}
header {
  width: 100vw;
  margin: 0 0 1rem 0;
}
nav {
  display: flex;
  max-width: 62rem;
  margin: 0 auto;
  padding: 1rem 0 0;
}
main {
  max-width: 60rem;
  padding: 0rem 1rem;
  margin: 0 auto;
}
footer {
  color: #777;
  max-width: 60rem;
  padding: 8rem 1rem 2rem;
  margin: 2rem auto;
  font-size: 0.8rem;
}
.content {
  max-width: 42rem;
}

/* main nav */

nav ul {
  list-style: none;
  display: flex;
  flex: 1;
  padding: 0;
  margin: 0;
}
nav li {
  display: flex;
  align-items: baseline;
  line-height: 1.5rem;
}
nav li a {
  flex: 1;
  padding: 1em;
  text-decoration: none;
}
nav li.logo a {
  color: #000;
  text-decoration: none;
}
nav li.logo a:focus,
nav li.logo a:hover {
  color: #00a4db;
}
nav li.logo a code {
  display: block;
  font-size: 2.441rem;
  letter-spacing: 0.25em;
  margin-left: -0.1em;
  line-height: 1em;
}
nav li.logo a small {
  display: block;
}

/**
 * GHColors theme by Avi Aryan (http://aviaryan.in)
 * Inspired by Github syntax coloring
 */

code[class*="language-"],
pre[class*="language-"] {
  color: #393A34;
  font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  /* font-size: 0.95em; */
  line-height: 1.2em;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  background: #b3d4fc;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
  border: 1px solid #dddddd;
  background-color: white;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .2em;
  padding-top: 1px; padding-bottom: 1px;
  background: #f8f8f8;
  border: 1px solid #dddddd;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #999988; font-style: italic;
}

.token.namespace {
  opacity: .7;
}

.token.string,
.token.attr-value {
  color: #e3116c;
}
.token.punctuation,
.token.operator {
  color: #393A34; /* no highlight */
}

.token.entity,
.token.url,
.token.symbol,
.token.number,
.token.boolean,
.token.variable,
.token.constant,
.token.property,
.token.regex,
.token.inserted {
  color: #36acaa;
}

.token.atrule,
.token.keyword,
.token.attr-name,
.language-autohotkey .token.selector {
  color: #00a4db;
}

.token.function,
.token.deleted,
.language-autohotkey .token.tag {
  color: #9a050f;
}

.token.tag,
.token.selector,
.language-autohotkey .token.keyword {
  color: #00009f;
}

.token.important,
.token.function,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}


/* overrides */

pre,
code,
code[class*="language-"],
pre[class*="language-"] {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  background-color: #fdfdfd;
  font-size: .9em;
}
pre,
pre[class*="language-"] {
  line-height: 1.563em;
  border: 1px solid #f3f3f3;
  padding: 1.25rem;
  overflow-x: scroll;
  margin: 1rem 0;
}
pre code,
pre[class*="language-"] code[class*="language-"] {
  background-color: transparent;
}
